html {
    font-size: 100%;
    width: 99%;
    height: 99%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: #000e23;
    background-color: #faf7ff;
}

@media only screen and (max-width: 991px) {
    .nav__menu {
        visibility: hidden;
    }
}

#sidebar-tongue {
    width: fit-content;
    padding: 50px 3px;
    border-radius: 2px 10px 10px 2px;
    font-size: 1.5rem;
    box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
    display: inline-block;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #bf97d8;
    color: #faf7ff;
    margin-left: 0;
    z-index: 150;
}

#sidebar-tongue:hover {
    transition-duration: 0.3s;
    filter: brightness(0.5);
    cursor: pointer;
}

#tools_div {
    background-color: #bf97d8;
    width: 12%;
    padding: 2% 0.5% 0;
    float: left;
    margin-left: -13.9%;
    transition: 0.2s;
    box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
    position: fixed;
    z-index: 100;
    height: 99vh;
}

.tool_list {
    display: inline-block;
    padding-inline-start: 0;
}

.tool_item {
    list-style-type: none;
    margin-bottom: 20%;
    text-indent: 1rem;
    font-size: 0.9rem;
    text-align: left;
    color: #000e23;
}

.tool_item:hover,
.tool_item a:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    color: #faf7ff;
}

.tool_item a {
    text-decoration: none;
    color: #000e23;
}

.tool_item img {
    width: 15%;
    float: left;
    margin-left: 2%;
}

.workarea {
    padding: 1%;
    display: flex;
}

.workarea_item {
    margin: 1%;
    margin-left: 7%;
    width: 85%;
}

.workarea_item h1 {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

#topShelf {
    display: flex;
}

#addPostBTN #guestAddPost {
    right: 10%;
}

.addPostBTN {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 3%;
    background-color: #fdae9b;
    padding: 0.5rem 1rem;
    height: fit-content;
    border-radius: 10px;
}

.addPostBTN:hover {
    cursor: pointer;
}

.guestCursor {
    cursor: not-allowed;
}

.post {
    width: 90%;
    height: 5rem;
    padding: 0.7rem;
    padding-left: 1.1rem;
    padding-bottom: 1.1rem;
    border-top: 1px solid rgb(197, 197, 197);
    /* border-bottom: 1px solid rgb(197, 197, 197) ; */
}

.post a {
    color: rgb(36, 85, 174);
    width: 50%;
}

.postRating {
    padding-top: 1rem;
    color: grey;
    font-size: 0.8rem;
}

.postRating img {
    width: 1.2rem;
    display: inline-block;
    margin-right: 0.3rem;
    margin-left: 1.7rem;
}

.postRating img:first-of-type {
    margin-left: 0.3rem;
}
.postAuthor,
.postedDate {
    float: right;
    color: grey;
    font-size: 0.9rem;
    margin-left: auto;
}

.postTags {
    margin-top: 1rem;
    color: grey;
    font-size: 0.9rem;
}

.postTag {
    border-radius: 0.2rem;
    background-color: #f1dbff;
    padding: 0 0.2rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    color: #000e23;
}

.postTag:first-of-type {
    margin-left: 0.7rem;
}

#clearSearch {
    border-radius: 10px;
    padding: 0.2% 0.4%;
    margin-right: 5%;
}

#clearSearch:hover {
    cursor: pointer;
    background-color: #e0d8ee;
}