body {
  width: 100%;
  height: 100%;
}

h1 {
  margin : 20px 0;
  text-align: center;
} 

h6 {
  display: flex;
  flex-direction: row;
}  

h6:before,
h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}
form {
  flex: 1;
  max-width: 70%;
  border-radius: 10px;
  background-color: #fffdfd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
  margin: auto auto;
  padding: 30px;
}

.form-row {
  display: flex;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
label, h2, .login {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
h2{
  text-align: center;
}
.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #0f1425;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
}

.form-control:hover {
  border: 1px solid #374255;
}

.form-control:focus {
  border: 1px solid #374255;
}

.button {
  width: 50%;
  height: 2.5rem;
  margin: 10px auto;
  border-radius: 0.5rem;
  padding: 15%, 20%;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(133, 138, 167, 0.15);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: bold;
  display: block;
}

#signup{
  background-color: #fdae9b;
  border: 2px solid #fdae9b;
}

.button:hover {
  transform: scale(1.05);
}

#google {
  width: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding : 20px;
  background: white;
  border-radius: 0.5rem;
  font-size: 1vw;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: bold;
}
#google:hover {
  transform: scale(1.05);
}
#google img {
  height: 2vh;
  position: inline;
}

#google p{
  /*margin: 0 !important;*/
  margin: 0px 20px !important;
}

p {
  text-align: center;
}

a{
  color: #8181D5;
}

a:hover{
  color: #DDB4F7;
}

.split {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #Faf7ff;
  width: 30%;
}
.right{
  right: 0;
  background-color: #C0A0CD;
}

.right img{
  width: 40%;
  height: 60%;
  position: fixed;
  top: 30%;
  left: 58%;
  bottom: 45%;
  right: 80%;
}
.right .centered p{
  position: fixed;
  bottom: 80%;
  right: 43%;
  left: 33%;
  top: 8%;
  font-size: 180%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  color: white;
  text-align: left;
  font-weight: bold;
  line-height: 110%;
}

.logo {
  width:10%;
  display: block;
  margin: 0 auto 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}