* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1 {
    margin : 20px 0;
}

p {
    font-size : 1.3em;
    margin : 20px 0;
}

form {
    display: flex;
    flex-direction: column;

}

form span{
    display: flex;
    flex-direction: column;
}

form span input{
    padding : 20px;
    border: 1px solid #fdae9b;
    border-radius: 10px;
    display: flex;
    width: 40vw;
    flex-direction: column;
}

form span label{
    padding : 20px 0;
    display: flex;
    width: 40vw;
    font-size: 1.2em;
    flex-direction: column;
}


form input[type="submit"] {
    text-decoration: none;
    margin: 10px 0;
    width: fit-content;
    height: 3rem;
    background-color: #fdae9b;
    border-radius: 0.5rem;
    border: 2px solid #fdae9b;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


#link{
    text-decoration: none;
    margin: 10px 0;
    width: fit-content;
    height: 3rem;
    background-color: black;
    border-radius: 0.5rem;
    border: 2px solid #fdae9b;
    padding: 10px 20px;
    color: #fdae9b;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
