/* Vars  */
:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #fdae9b;
    --font-fam: 'Lato', sans-serif;
    --height: 2rem;
    --btn-width: 3.5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}


#searchCommunity {
    display: inline;
    width: 30%;
    margin-right: auto;
    margin-left: -5%;
    background: var(--color-brand);
    border-radius: 0.8rem;
}

#searchCommunity input,
#searchCommunity button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 0.8rem;
}

#searchCommunity input[type="search"] {
    outline: 0;
    width: 120%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    /* for iOS input[type="search"] roundedness issue. border-radius alone doesn't work */
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

#searchCommunity button {
    display: none;
    /* prevent being able to tab to it */
    position: absolute;
    margin-left: 26%;
    bottom: 19%;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

#searchCommunity input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

    +button {
        display: block;
    }
}

#searchCommunity label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.emptySearch {
    text-align: center;
    width: 80%;
    padding: 5%;
    font-style: italic;
}

/* TOOLTIP */
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    padding: 10px;
    top: 100%;
    left: 55%;
    /* Use half of the width to center the tooltip */
    background-color: #fff;
    /* border: 0.5px solid rgba(128, 128, 128, 0.545); */
    color: #000e23;
    text-align: left;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(61, 65, 84, 0.15);
    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
    font-size: 0.9rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    filter: brightness(1);
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.tooltip button:hover{

}

#clearSearch {
    border-radius: 8px;
    padding: 0.2% 0.4%;
    margin-right: 5%;
    background-color: #e7e0f2;
}

#clearSearch:hover {
    cursor: pointer;
    background-color: #e0d8ee;
}