html {
    font-size: 100%;
    width: 99%;
    height: 99%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: #000e23;
    background-color: #faf7ff;
}

@media only screen and (max-width: 991px) {
    .nav__menu {
        visibility: hidden;
    }
}

#sidebar-tongue {
    width: fit-content;
    padding: 50px 3px;
    border-radius: 2px 10px 10px 2px;
    font-size: 1.5rem;
    box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
    display: inline-block;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #bf97d8;
    color: #faf7ff;
    margin-left: 0;
    z-index: 150;
}

#sidebar-tongue:hover {
    transition-duration: 0.3s;
    filter: brightness(0.5);
    cursor: pointer;
}

#tools_div {
    background-color: #bf97d8;
    width: 12%;
    padding: 2% 0.5% 0;
    float: left;
    margin-left: -13.9%;
    transition: 0.2s;
    box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
    position: fixed;
    z-index: 100;
    height: 99vh;
}

.tool_list {
    display: inline-block;
    padding-inline-start: 0;
}

.tool_item {
    list-style-type: none;
    margin-bottom: 20%;
    text-indent: 1rem;
    font-size: 0.9rem;
    text-align: left;
    color: #000e23;
}

.tool_item:hover,
.tool_item a:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    color: #faf7ff;
}

.tool_item a {
    text-decoration: none;
    color: #000e23;
}

.tool_item img {
    width: 15%;
    float: left;
    margin-left: 2%;
}

.workarea {
    padding: 1%;
    display: flex;
}

.workarea_item {
    margin: 1%;
    margin-left: 3%;
    width: 100%;
}

.workarea_item h3 {
    text-align: center;
}

/* body main .workarea_item span {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    color: white;
    font-size: 1.5vw;
} */

/* body main span img {
    height: 5vh;
    margin: 0 20px;
} */


#loadingbar {
    width: 0%;
    height: 4px;
    bottom: 0;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    transition-duration: 0.3s;
}

body #formContanier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body #container {
    width: auto;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    /* background-color: #fff; */
}

#container #title-upload{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
}

body #container h1 {
    margin-top: 50px;
    margin-left: 4%;
    margin-right: auto;
}

body #container form {
    width: min-content;
    height: fit-content;
    margin-left: auto;
    /* border: solid green; */
    color: #000e23;
}

body #container form input[type="file"] {
    appearance: none;
    background: black;
    top: 0;
    opacity: 0;
}

body #container form label {
    height: fit-content;
    width: fit-content;
    float: right;
    margin-right: 8%;
    display: flex;
    /* background: #fdaf9b68; */
    border-radius: 10px;
    /* border: 1px solid whitesmoke; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: #000e23;
}

#container form label h3 {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: #fdae9b;
    font-weight: lighter;
    border-radius: 10px;
    color: #000e23;
    text-align: center;
        margin-top: 20%;
    display: inline;
    width: fit-content;
}

#container form label h3:hover{
filter: brightness(0.7);
cursor: pointer;
}

#container form label img {
    margin: 10px 10px;
    float: right;
    width: 15%;
    display: none;
}

#allfiles {
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    align-items: flex-start;
    justify-content: space-around;
    /* border: solid yellow; */
    margin-right: auto;
    margin-top: 10%;
    /* background: #f6e8ff7c; */
}

#allfiles .box {
    height: fit-content;
    width: 15vw;
    display: block;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgba(233, 233, 233, 0.795);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: black;
    text-decoration: none;
    position: relative;
    margin: 10px;
    overflow: hidden;
    /* border: solid purple; */
}

#allfiles .box iframe {
    height: 200%;
    width: 100%;
    margin-top: 20%;
    padding: 0;
    /* margin-bottom: 3%; */
    /* border: solid red; */
    overflow: hidden;
}

#allfiles .box::before {
    content: '';
    height: 40px;
    width: 100%;
    background: rgb(255, 255, 255);
    top: 0;
    z-index: 100;
    left: 0;
    position: absolute;

}

#allfiles .box::after {
    content: '';
    height: 100%;
    width: 40px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 0;
    z-index: 100;
    right: 0;
}


iframe::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}


#allfiles .box .collection {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1000000;
}

#allfiles .box:hover {
    cursor: pointer;
    border: 2px solid #fdaf9b68;
}

#allfiles .box .queries {
    margin-top: 0px !important;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100000;
    padding: 10px !important;
    background: floralwhite;
}

#allfiles .queries button {
    appearance: none;
    border: none;
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}



#allfiles .queries button img {
    width: 2vh;
    margin-right: 10px;
}

#allfiles span .icon {
    height: 4vh;
    border-radius: 5px;
    mix-blend-mode: color-burn;
}

#allfiles span .icon:nth-of-type(1) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10000000;
}

#allfiles span .icon:nth-of-type(2) {
    transform: rotateZ(90deg);
    position: absolute;
    left: 87%;
    bottom: auto;
    z-index: 10000000;
}

#allfiles span .icon:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.file {
    color: black;
    padding: 10px;
    display: block;
    padding-bottom: 100%;
    position: absolute;
}

.uploadedfile {
    background: rgba(255, 255, 255, 0.4);
    width: auto;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: solid blue; */
}