html {
    font-size: 100%;
    width: 99%;
    height: 99%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: #000e23;
}

@media only screen and (max-width: 991px) {
    .nav__menu {
        visibility: hidden;
    }
}

footer {
    padding: 1%;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    text-align: center;
    background-image: url(images/Ultra\ Voilet.jpg);
}

body {
    width: 100%;
    height: 100%;
    background-color: #Faf7ff;
}

.header-container {
    display: block;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
}

.flex-parent {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #faf7ff00;

}

.header_logo {
    width: 25%;
    display: flex;
    align-items: center;
}

.header_logo img {
    width: 20%;
    display: block;
    margin: 5%;
    margin-left: 12%;
}

.header_logo div {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 1.75rem;
    margin: auto;
}

.nav__menu li {
    display: inline-block;
    margin-right: 3rem;
}

.nav__menu a {
    text-decoration: none;
    color: #000e23;
}

.nav__menu a:hover {
    color: #fdae9b;
}

.active a {
    color: #fdae9b;
}

.BTN {
    float: right;
    margin-left: auto;
    margin-right: 5%;
    width: 10%;
}

.BTN button {
    width: 5rem;
    height: 3rem;
    background-color: #fdae9b;
    border-radius: 0.5rem;
    border: 2px solid #fdae9b;
    padding: 15%, 20%;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.BTN button:hover {
    background-color: #Faf7ff;
    color: #fdae9b;
}

#tools_div {
    background-color: #bf97d8;
    width: 15%;
    height: 100%;
    position: relative;
    padding: 2% 0.5% 0;
}

.tool_list {
    display: inline-block;
    padding-inline-start: 0;
}

.tool_item {
    list-style-type: none;
    margin-bottom: 15%;
    text-indent: 2rem;
    font-size: 0.9rem;
    text-align: left;
}

.tool_item img {
    width: 15%;
    float: left;
    margin-left: 8%;
}

footer {
    background-color: #bf97d8;
    margin: 5% 0 0;
    color: #Faf7ff;
}

.footer-div {
    width: 20%;
    margin: 2%;
    display: inline-block;
}

.footer-div h4 {
    margin-left: 26%;
    width: fit-content;
    font-weight: normal;
}

#contacts h4 {
    margin-left: 40%;
}

.footer-div ul {
    width: auto;
}

.footer-div li {
    list-style-type: none;
    display: inline;
    margin: 0;
}

.footer-div a img {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}


#footerLogo {
    width: 10%;
    float: right;
    margin: 1% 5%;
}

#copyright {
    width: fit-content;
    margin: auto;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 1% 0 2%;
}