html {
  font-size: 100%;
  width: 99%;
  height: 99%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  color: #000e23;
  background-color: #faf7ff;
}

@media only screen and (max-width: 991px) {
  .nav__menu {
    visibility: hidden;
  }
}

#calendar_area {
  margin: 1em !important;
}

#sidebar-tongue {
  width: fit-content;
  padding: 50px 3px;
  border-radius: 2px 10px 10px 2px;
  font-size: 1.5rem;
  box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
  display: inline-block;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #bf97d8;
  color: #faf7ff;
  margin-left: 0;
  z-index: 150;
}

#sidebar-tongue:hover {
  transition-duration: 0.3s;
  filter: brightness(0.5);
  cursor: pointer;
}

#notasks {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#notasks img {
  display: block;
  width: 70%;
  margin: 10% auto 0 auto;
}

#notasks p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000e23;
}

#notasks p:last-of-type {
  color: grey;
  margin: 0 5%;
}

#tools_div {
  background-color: #bf97d8;
  width: 12%;
  padding: 2% 0.5% 0;
  float: left;
  margin-left: -13.9%;
  transition: 0.2s;
  box-shadow: 0px 1px 2px 1px rgba(58, 60, 67, 0.15);
  position: fixed;
  z-index: 100;
  height: 99vh;
}

.tool_list {
  display: inline-block;
  padding-inline-start: 0;
}

.tool_item {
font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
  "sans-serif";
  font-size: 0.9rem !important;
list-style-type: none;
padding: 9%;
margin-bottom: 3%;
white-space: nowrap;
text-indent: 1rem;
font-size: 0.9rem;
text-align: left;
color: #000e23;
width: 160%;
transition: color 0.3s, background-color 0.3s;
border-radius: 5%;
}

.tool_item:hover{
cursor: pointer;
transition-duration: 0.3s;
color: #faf7ff !important;
background-color: rgba(212, 179, 233, 0.933);
}
.tool_item:hover a{
cursor: pointer;
transition-duration: 0.3s;
color: #faf7ff !important;
background-color: rgba(212, 179, 233, 0.933);
}

.tool_item a {
  text-decoration: none;
  color: #000e23;
}

.tool_item img {
  width: 15%;
  float: left;
  margin-left: 2%;
}

.workarea {
  padding: 1%;
  display: flex;
}

.workarea_item {
  margin: 1%;
  width: 35%;
}

#calendar_area {
  width: 100%;
  margin-left: 2%;
}

#todo_area {
  width: 30%;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 0;
}

.workarea_item h3 {
  text-align: center;
}

.todolist {
  background-color: #f6e8ff;
  border-radius: 20px;
  padding: 1.5% 0;
  box-shadow: 0px 1px 10px 1px rgba(43, 45, 57, 0.15);
}

.todolist ul {
  padding-inline-start: 0;
  margin-left: 3%;
}

.todolist li {
  list-style: none;
  margin-bottom: 4%;
  padding-bottom: 1%;
  text-align: left;
  transition: 0.2s;
  border-bottom: 0.5px solid rgb(220, 222, 226);
}

.todolist li img {
  width: 5%;
  float: right;
  margin-right: 5%;
  cursor: pointer;
  opacity: 60%;
}

.todolist li img:hover,
.todolist li img:active {
  opacity: 100%;
}

.todolist label {
  width: 55%;
  display: inline-flex;
  align-items: center;
  margin-left: 1%;
  cursor: pointer;
}

.todolist label .dueText {
  font-style: italic;
  font-size: 0.85em;
  color: rgb(95, 101, 109);
}

.todolist input[type="checkbox"] {
  display: inline;
  cursor: pointer;
}

.todolist input[type="checkbox"]:checked + label {
  accent-color: #fdae9b;
  text-decoration: line-through;
  font-style: italic;
}

#due {
  display: block;
  margin: 5%;
}

#addtaskBTN {
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: #f6e8ff;
  border: 0px solid #f6e8ff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #fdae9b;
}

#addtaskBTN:hover {
  color: #faf7ff;
  cursor: pointer;
  transition: 0.2s;
  background-color: #fdae9b;
}

#addtask-span:hover {
  color: #fdae9b;
  transition: 0.2s;
}

#addtask-form {
  padding: 2%;
  margin: 2%;
  background-color: #f9efff;
  border: 1px solid #000e2336;
  border-radius: 5px;
}

#addtask-form label,
#rescheduleDueDate label {
  display: inline;
  margin-left: 5%;
  color: grey;
}

#addtask-form input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1.5% 0;
  margin-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 1rem;
}

#addtask-form input {
  display: block;
  margin-left: 4%;
}

#addtask-form button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #faf7ff;
  margin-top: 3%;
}

#addtask-form input[type="datetime-local"],
#reschedule-due {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline;
}

#addtask-form button[type="submit"] {
  background-color: #fdae9b;
  font-weight: bold;
  color: #faf7ff;
  margin-left: 30%;
}

#submitTaskBTN {
  cursor: pointer;
}

#submitTaskBTN[disabled] {
  cursor: not-allowed;
}

#submitTaskBTN[disabled]:hover {
  cursor: not-allowed;
}

#addtask-form button:hover {
  cursor: pointer;
  filter: brightness(0.5);
  transition: 0.2s;
}

.editTask-form input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1.5% 0;
  margin-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 1rem;
  word-wrap: break-word;
  height: fit-content;
}

.editTask-form button[type="submit"],
.editTask-form button[type="reset"] {
  margin: 5% 0 5% 3%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #faf7ff;
}

.editTask-form button[type="submit"] {
  background-color: #fdae9b;
  color: #faf7ff;
}

.editTask-form button[type="submit"]:hover,
.editTask-form button[type="reset"]:hover {
  cursor: pointer;
  filter: brightness(0.5);
  transition: 0.2s;
}

.editTask-form input[type="datetime-local"] {
  margin-left: 5%;
}

.rescheduleDueDate {
  color: grey;
}

.rescheduleDueDate label {
  display: inline;
  font-size: 1rem;
  margin-right: 2%;
}

.rescheduleDueDate input[type="datetime"] {
  display: inline;
}
